form input{
  font-size:21px;
}
form input::placeholder{
  font-size:21px;
}
@media only screen and (max-width:600px){
  width:98%;
}
form button{
  padding:10px;
  font-size:16px;
  background-color:#00bbff;
  color:#ffffff;
  border-radius:50px;
}
